<h1>Add a dose</h1>
<h2>Let's add a dose to our cocktail!</h2>
<br>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>
